.categorias-title {
  margin: 88px 24px 52px 24px;
}
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.cartegory-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
}
.cartegory-card a img {
  width: 80px;
  height: 80px;
  objet-fit: contain;
}
