@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
}

:root {
  --cor-fundo: #ffffff;
  --cor-cinza: #8c8c8c;
  --cor-preto: #000000;
  --buttom-primary: #8f0101;
  --buttom-secondary: #b81515;
  --text-primary-cor: #222222;
  --text-secondary-cor: #ffffff;
  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary-cor);
}

.section-title h2 {
  text-align: center;
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0;
}
.section-title hr {
  border: none;
  background-color: var(--buttom-secondary);
  width: 180px;
  height: 4px;
  margin: 16px auto 32px;
}
.button {
  width: 280px;
  height: 64px;
  background-color: var(--buttom-secondary);
  color: var(--cor-fundo);
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: var(--text-weight);
  border-radius: 16px;
  line-height: 64px;
}
h4 {
  font-size: 28px;
  font-weight: var(--title-weight);
  color: var(--text-primary-cor);
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .button:hover {
    background-color: var(--buttom-primary);
  }
}
