@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

:root {
  --cor-fundo: #ffffff;
  --cor-cinza: #8c8c8c;
  --cor-preto: #000000;
  --buttom-primary: #8f0101;
  --buttom-secondary: #b81515;
  --text-primary-cor: #222222;
  --text-secondary-cor: #ffffff;
  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
