header {
  background-color: var(--cor-preto);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
}
.navgacao {
  margin-top: 24px;
}
.link_logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
nav {
  display: none;
}
