.payments .img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
}
.payments .img-container .img.bag {
  background-image: url("../img/bag.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.payments .img-container .img.passaport {
  background-image: url("../img/passaport.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.payments .img-container .img.people {
  background-image: url("../img/people.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.payments .img-container .img.colspan-2 {
  grid-column: span 2;
}
@media screen and (max-width: 768px) {
  .payments .img-container .img.bag {
    background-image: url("../img/bag-para-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .payments .img-container .img.passaport {
    background-image: url("../img/passaport-para-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .payments .img-container .img.people {
    background-image: url("../img/pessoas-para-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
