.payments .img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
}
.img {
  border: 2px solid red;
}
.payments .img-container .img.bag {
  background-image: url(../img/bag.png) no-repeat;
  background-size: cover;
}
.payments .img-container .img.passaport {
  background-image: url(../img/passaport.png) no-repeat;
  background-size: cover;
}
.payments .img-container .img.people {
  background-image: url(../img/people.png) no-repeat;
  background-size: cover;
}
.payments .img-container .img.colspan-2 {
  grid-column: span 2;
}
